h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.dropdown {
    display: inline-block;
}

.dropdown Links {
    background-color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display:block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px darkgrey;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover Links {
    background-color: 70%;
}

.dropdown a:hover {
    background-color: 90%;
}
